*{
    margin:5px;
}
header {
    background-color: #333;
    color: #fff;
    padding: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
nav ul {

    margin: 0;
    padding: 0;
}
nav li {
    display: inline;
    margin-right: 15px;
}
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f2f2f2;
}

.container {
    max-width: 800px;
    margin: 20px auto;
   
    background-color: #fff;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
}

h1 {
    display: block;
    font-size: 2em;
    font-weight: bold;
}
h3{
    color: #373535;
    font-family: 'Courier New', Courier, monospace;
}

.skills-section {
    margin-bottom: 30px;
}

h2 {
    border-bottom: 2px solid #333;
    padding-bottom: 10px;
    color: #ffffff;
}

ul {
    list-style-type: none;
    padding: 0;
    margin: 10px 0;
}

li {
    margin: 5px 0;
    color: #f8f8f8;
}

body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f2f2f2;
}

.container {
    max-width: 800px;
    margin: 20px auto;
    padding: 20px;
    background-color: #423f3f;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
}

h1 {
    margin-bottom: 20px;
}
section.skills {
    max-width: 800px;
    margin: 20px auto;
    padding: 20px;
    background-color: #373535;
    box-shadow: 0 0 5px rgba(124, 124, 124, 0.3);
    color: #fff ;
}

.skills-section {
    margin-bottom: 30px;
}

h2 {
    border-bottom: 2px solid #333;
    padding-bottom: 5px;
}

ul {
    list-style-type: none;
    padding: 0;
    margin: 10px 0;
    background-color:#555;
}

li {
    margin: 5px 0;
    color: #fff;
}

/* Add more custom styles as needed */


footer {
    background-color: #333;
    color: #fff;
    padding: 10px;
    text-align: center;
    position: relative;
}

.footer-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.web-name-box {
    background-color: #fff;
    color: #333;
    padding: 5px 10px;
    box-shadow: -5px 0 10px rgba(0, 0, 0, 0.3);
}

.web-name-box p {
    margin: 0;
    font-weight: bold;
}

footer p {
    margin: 0;
}

.social-media-icons a {
    display: inline-block;
    margin: 0 5px;
}

.social-media-icons img {
    width: 30px;
    height: 30px;
}
footer div.contact{
    color: #fff;
    align-items: center;

}
.contact p{
    text-align: center;
    color: #f2f2f2;
    font-size: 10px;
}

